.stacker {
  background: white;
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
  height: 100%;
  width: 100%;
}

.stacker path {
  fill: #6666cc;
  mix-blend-mode: multiply;
  shape-rendering: crispEdges;
}

.stacker line {
  stroke: #1e1a34;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.stacker text {
  fill: #1e1a34;
  font: 10px sans-serif;
  text-anchor: end;
}

.stacker circle {
  fill: #1e1a34;
}
